@use 'variables' as v;
@use 'mixing' as m;

html{
  background-image: url(../img/Fondo.png);
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  font-size: 62.5%; /** 1rem = 10px **/
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
  line-height: 2;
}
/* Configuraciones Globales*/
h1,h2,h3,h4{
  font-family: v.$fuente_h;
  font-weight: 900;
  color: v.$verde;
  margin: 0;
  padding: 0;
}

h1{ font-size: 11.5rem; }
h2{ font-size: 3rem;    }
h3{ font-size: 2.4rem;  }
h4{ font-size: 1.6rem;  }

p{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

li{
  font-size: 1.2rem;
  text-align: justify;
}
img{ max-width: 100%; }

a{
  font-size: 2rem;
  text-decoration: none;
}

span{ font-weight: 900; }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after { clear: both;  }

@include m.tablet{
  h2{ font-size: 3.5rem;  }
  h3{ font-size: 3rem;    }
  h4{ font-size: 2.3rem;  }
  p{  font-size: 1.8rem;  }
  li{ font-size: 1.7rem;  }
  a{  font-size: 2.5rem;  }
}

@include m.escritorio{
  h2{ font-size: 4rem;    }
  h3{ font-size: 3.5rem;  }
  h4{ font-size: 3rem;    }
  p{  font-size: 2rem;    }
  li{ font-size: 1.8rem;  }
  a{  font-size: 3rem;    }
}
